@import "./colors/color.scss";
@import "./extends/extendsParts.scss";
@import "./sizes/fontAndSizes.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
nav {
    background-color: $bsdarkrgb;
    ul{
      @extend %flex;
      gap: $size;
      li,a{
        font-size: $size;
        margin-top: 5px;
        color: $bs-navbar-color;
      }
    }
}
}
#first{
    background-color: $bsdarkrgb;

    height: 77vh;

}
#second{
  .icons{
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    i{
      padding-top: 12px;
    }
    }
}